ol{
  background-color: yellow;
}

.order-list li:nth-child(odd){
  text-transform: uppercase;
}

.order-list li:nth-child(even){
  color: green;
}

h1, h2, h3 {
  color: red;
}

h1,h2,h3 em {
  font-size: 40px;
  border: 1px solid black;
}

li {
  font-size: 20px;
}

li em {
  font-weight: bold;
}

.languages-list li:nth-child(-n+3){
  color: blue;
}

li:has(Java){
  background-color: pink;
}
